*{margin: 0; padding: 0;}

ul{list-style: none;}

.inner{width: 1400px; margin: 0 auto;}

/* 헤더부분 */
.header{width: 100%; height: 90px;
border-bottom: 1px solid #e6e9f0; line-height: 90px;}

.logo{width: 200px; height: 38px;
float: left;}

.top_banner{float: right;}

.top_banner>li{float: left;}

.header>.inner{width: 1400px; height: 90px;
position: relative;}

.menu{position: absolute; width: 600px; left: 0; right: 0; margin: 0 auto;}

.menu>li{width: 100px; float: left; text-align: center;}

.one{width: 50px; height: 50px; background-color: #00a040; color: white; text-align: center; border-radius: 50%; line-height: 50px; margin-top: 20px;margin-left: 5px;}

/* 메인부분 */
.mainimg{width: 100%; height: 712px; background-image: url(../images/mainimg.jpg); background-repeat: no-repeat;
    background-position: center center;
    margin-top: 30px;}

    /* 컨텐츠부분 */
.box1{height: 535px;}

.box2 {
    width: 100%;
    height: 240px;
    border-top: 1px solid #e6e9f0;
    border-bottom: 1px solid #e6e9f0;
}
.list{width: 25%; float: left;}

.list>h2{padding-top: 20px; padding-bottom: 20px;}

.list>p{padding-bottom: 40px;}

.green{width: 324px; height: 158px; background-color: #00a040; text-align: center; padding-top: 100px;}

.green>p{color: white; padding-top: 10px;}

.box_text{float: left; padding-top: 100px;}

.box_img{float: right; padding-top: 25px;}

.green_{color: #00a040;}

/*푸터부분 */
.footer{height: 100px;}

.footer_info{float: left; font-size: 11px; color: #666; padding-top: 30px;}

.footer_btn{float: right; padding-top: 35px;}

.copyright{font-size: 13px; font-weight: bold; color: black;}

.footer_btn>li{float: left; width: 80px; height: 30px; border: 1px solid #3566d6; margin-left: 7px; text-align: center; line-height: 30px;}

.none {
    border: none !important;
}

.none>select {
    width: 80px;
    height: 30px;
    border: 1px solid #acacac;
}















